services:
  s3:
    image: minio/minio:latest
    container_name: "learn_anything-minio"
    restart: on-failure
    env_file:
      - configs/minio.env
    ports:
      - "127.0.0.1:9000:9000"
      - "127.0.0.1:9090:9090"
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:9000/minio/health/live" ]
      interval: 30s
      timeout: 20s
      retries: 3
    volumes:
      - /opt/learn_anything/minio/data:/data
    command: server /data --console-address ":9090"

  db:
    image: postgres:16.0-alpine3.18
    container_name: "learn_anything-db"
    env_file:
      - configs/db.env
    ports:
      - "127.0.0.1:5432:5432"
    volumes:
      - "/opt/learn_anything/pgdata:/var/lib/postgresql/data"
    restart: always
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5

  migrate:
    build: .
    container_name: "learn_anything-migrate"
    command: ["learn-anything", "alembic", "upgrade", "head"]
    environment:
      COURSE_PLATFORM_CONFIG_PATH: configs/course_platform.docker.example.toml
    depends_on:
      db:
        condition: service_healthy
    restart: "no"

  redis:
    image: redis:7.2.4-alpine
    container_name: "learn_anything-redis"
    ports:
      - "127.0.0.1:6379:6379"
    restart: "unless-stopped"
    volumes:
      - "./configs:/usr/local/etc/redis"
      - "/opt/learn_anything/redis/data:/data"
    command: "redis-server /usr/local/etc/redis/redis.conf"

  rabbitmq:
    image: rabbitmq:3.13.7-management
    container_name: "learn_anything-rabbitmq"
    ports:
      - "127.0.0.1:5672:5672"
      - "127.0.0.1:15672:15672"
    volumes:
      - "/opt/learn_anything/rmq/data"

  api_gateway:
    build: .
    container_name: "learn_anything-api_gateway"
    command: ["learn-anything", "start", "api_gateway"]
    environment:
      API_GATEWAY_CONFIG_PATH: configs/api_gateway.docker.example.toml
    volumes:
      - ./configs:/code/configs:ro
    ports:
      - "127.0.0.1:8000:8000"
    depends_on:
      - rabbitmq
    restart: unless-stopped

  consumer:
    build: .
    container_name: "learn_anything-consumer"
    command: ["learn-anything", "start", "consumer"]
    environment:
      COURSE_PLATFORM_CONFIG_PATH: configs/course_platform.docker.example.toml
    volumes:
      - ./configs:/code/configs:ro
    depends_on:
      migrate:
        condition: service_completed_successfully
      redis:
        condition: service_started
      rabbitmq:
        condition: service_started
      s3:
        condition: service_healthy
    restart: unless-stopped
